@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-5">User Management System</h1>

    &bull; <a href="/Login">Sign In</a> &nbsp; &mdash; &nbsp; <a href="/Register">Create an Account</a> &bull;

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
